{% extends 'base.html' %}
{% load staticfiles %}

{% block jumbotron %}


<!DOCTYPE html>
<html>
<head>
<title>Chat Panel</title>
    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<style>
.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999999;
}
.chat li.left .chat-body {
  margin-left: 60px;
}
.chat li.right .chat-body {
  margin-right: 60px;
}
.chat li .chat-body p {
  margin: 0;
}
.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}
.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}
</style>
<!--test-->
<script type="text/javascript">   
    $( document ).ready ( function () {
      
      $('#nickname').keyup(function() {
        var nickname = $(this).val();
        
        if(nickname == ''){
          $('#msg_block').hide();
        }else{
          $('#msg_block').show();
        }
      });
      
      // initial nickname check
      $('#nickname').trigger('keyup');
    });
    
    
  </script>
<!--test-->

</head>

<body>

    <div id="wrapper">
        <div id="page-wrapper">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <!-- /.panel -->
              <div class="chat-panel panel panel-default">
                  <div class="panel-heading">
                      <i class="fa fa-comments fa-fw"></i> Chat
                      <div class="btn-group pull-right">
                          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                              <i class="fa fa-chevron-down"></i>
                          </button>
                          <ul class="dropdown-menu slidedown">
                              <li>
                                  <a href="#">
                                      <i class="fa fa-refresh fa-fw"></i> Refresh
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <i class="fa fa-check-circle fa-fw"></i> Available
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <i class="fa fa-times fa-fw"></i> Busy
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <i class="fa fa-clock-o fa-fw"></i> Away
                                  </a>
                              </li>
                              <li class="divider"></li>
                              <li>
                                  <a href="#">
                                      <i class="fa fa-sign-out fa-fw"></i> Sign Out
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <!-- /.panel-heading -->
                  <div class="panel-body">
                      <ul class="chat">
                          <li class="left clearfix">
                              <span class="chat-img pull-left">
                                  <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                              </span>
                              <div class="chat-body clearfix">
                                  <div class="header">
                                      <strong class="primary-font">moaooa</strong>
                                      <small class="pull-right text-muted">
                                          <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                      </small>
                                  </div>
                                  <p>
                                      hey bot?
                                  </p>
                              </div>
                          </li>
                          <li class="right clearfix">
                              <span class="chat-img pull-right">
                                  <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                              </span>
                              <div class="chat-body clearfix">
                                  <div class="header">
                                      <small class=" text-muted">
                                          <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                                      <strong class="pull-right primary-font">Bot</strong>
                                  </div>
                                  <p>
                                      hey too friend
                                  </p>
                              </div>
                          </li>
                          <li class="left clearfix">
                              <span class="chat-img pull-left">
                                  <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                              </span>
                              <div class="chat-body clearfix">
                                  <div class="header">
                                      <strong class="primary-font">User</strong>
                                      <small class="pull-right text-muted">
                                          <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                                  </div>
                                  <p>
                                      what are the deadline dates for fee clearance?
                                  </p>
                              </div>
                          </li>
                          <li class="right clearfix">
                              <span class="chat-img pull-right">
                                  <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                              </span>
                              <div class="chat-body clearfix">
                                  <div class="header">
                                      <small class=" text-muted">
                                          <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                                      <strong class="pull-right primary-font">Bot</strong>
                                  </div>
                                  <p>
                                      4th july
                                  </p>
                              </div>
                          </li>
                      </ul>
                  </div>
                  <!-- /.panel-body -->
                  <div class="panel-footer">
                      <div class="input-group">
                          <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                          <span class="input-group-btn">
                              <button class="btn btn-warning btn-sm" id="btn-chat">
                                  Send
                              </button>
                          </span>
                      </div>
                  </div>
                  <!-- /.panel-footer -->
              </div>
              <!-- /.panel .chat-panel -->
            </div>
          </div>

<!--start of test-->
          <div class="container">
    <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-comment"></span> Chat
      </div>
      <div class="panel-body">
        <ul class="chat" id="received">
          
        </ul>
      </div>
      <div class="panel-footer">
        <div class="clearfix">
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon">
                Nickname:
              </span>
              <input id="nickname" type="text" class="form-control input-sm" placeholder="Nickname..." />
            </div>
          </div>
          <div class="col-md-9" id="msg_block">
            <div class="input-group">
              <input id="message" type="text" class="form-control input-sm" placeholder="Type your message here..." />
              <span class="input-group-btn">
                <button class="btn btn-warning btn-sm" id="submit">Send</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
          <!--end of test-->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="static/javascript/bootstrap.min.js"></script>

</body>
</html>

{% endblock%}


{% block content %}

{% endblock %}